ul{
	padding:0;
	margin: 0 0 20px 0;
	list-style:none;
}
h1,h2{
	padding:0;
	margin: 0 0 20px 0;
	font-weight:normal;
	color:coral;
}
p{
	padding:0;
	margin: 0 0 20px 0;
}
a:link, a:visited
{
	text-decoration:underline;
	color:Mustard;
}
a:hover
{
	text-decoration:none;
}
ul li{
	padding: 5px 0;
	list-style-type:none;
}
h1{
	font-size:1.8em;
}
h2{
	font-size:1.4em;
}
header{
	width:940px;
	padding:10px;
	margin:0 auto 10px auto;
}
